# Dev Cookbook

This is a collection of "recipes" for things I frequently do in different languages/tools, or just some general information about the language that is meant to jump-start a return to the language after a break.

## Table of Contents

{% for cookbook in cookbooks %}
- [{{ cookbook }}]({{ cookbooks[cookbook] }})
{% endfor %}
